<h1>Upload one photo to describe your mood for the day</h1>
<h2>Click below to upload a new photo or view your photo for the day</h2>

<%= link_to "Today's Photo ||", photos_path %>
<%= link_to 'New Photo', new_photo_path %>
