.form{
  width: 50%;
  margin-left: 2%;
}

.heading{
  color: #52A2D6;
  font-weight: 500;
  font-size: 2.5em;
  text-align: left;
}

.form-labels {
  color: #52A2D6;
  font-weight: 500;
  font-size: 1em;
  text-align: left;
  margin-top: -2%;
}

.back{
  font-size: 1.5em;
}

.form-buttons{
  background: #82B6D5;
  color: white;
  height: 30px;
  font-size: 1em;
}

.form-buttons:hover{
  background: #52A2D6;
  cursor: pointer;
}
