.main-index{
  color: #52A2D6;
  font-weight: 500;
  font-size: 2.5em;
  margin: 3% 5% 5% 1%;
  text-align: left;
}

.link{
  font-size: 2.0em;
}

.top-bar .name h1 a:hover{
  background-color: #52A2D6;
}
